# nano & vim editors swap files
nano.save
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# System files
Thumbs.db
.DS_Store

# Other
*.stackdump

# Composer packages
/vendor/

